CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MONGODB_URL=
MONGODB_DB=api-50

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yourgmail@gmail.com
SMTP_PASSWORD=<App password generated on account of google>
SMTP_FROM=yourgmail@gmail.com

FRONTEND_URL=

JWT_SECRET=